<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/public/images/logo.png"/>
    <link rel="stylesheet" href="/public/css/<%= arg1 %>/<%= arg2 %>.css">
    <link rel="stylesheet" href="/public/css/info.css">
    <script src="/public/js/toModule.js"></script>
    <script src="/public/js/info.js"></script>
    <title></title>
</head>
<body>
    <img src="/public/images/logoGoogle.png" class="img1">
    <div class="div1">
        <input type="text" placeholder="" class="input1" id="input1">
    </div>
    <button onclick="makeGif()">Créée le GIF</button>
    <script src="/public/js/<%= arg1 %>/<%= arg2 %>.js"></script>
</body>
</html>